{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "#bot": "./src/bot/",
        "#users": "./src/apps/users/",
        "#events": "./src/apps/events/"
      }
    }]
  ]
}
