{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "users": "./src/apps/users/",
        "underscore": "lodash"
      }
    }]
  ]
}
